.agree
  .agree__container
    img.agree__checkbox(src="images/checkbox.svg" loading="lazy" width="12" height="12" alt="checkbox")
    .font-s-10
      | Я принимаю условия 
      a(href="#" data-remodal-target="privacy").agree__privacy Политики конфиденциальности
