section.details-section
  .wrapper
    .details-section__container
      img.details-section__icon-bg(src="images/details-section-icon-bg.svg" loading="lazy" width="1538" height="394" alt="icon")
      img.details-section__icon(src="images/details-section-icon.svg" loading="lazy" width="439" height="36" alt="icon")
      h2.details-section__title.font-w-c-regular.font-s-62.text-up
        | Запишитесь 
        br.no-br
        | на бесплатную 
        br.no-br
        span.color-red онлайн-встречу
      .details-section__sub-title.font-w-regular.font-s-26 Где мы расскажем вам:
      .swiper-bullet
        .details-section__cards.swiper-wrapper
          .details-section__card.swiper-slide
            img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="24" height="24" alt="icon")
            .font-w-regular.font-s-16-a Как и из чего состоит <br> ежедневная работа <br> владелицы студии
          .details-section__card.swiper-slide
            img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="24" height="24" alt="icon")
            .font-w-regular.font-s-16-a На что обращать внимание при <br> ценообразовании и работе с <br> клиентами
          .details-section__card.swiper-slide
            img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="24" height="24" alt="icon")
            .font-w-regular.font-s-16-a Как правильно <br> позиционировать себя на <br> рынке и кто ваша ЦА
          .details-section__card.swiper-slide
            img.details-section__card-icon(src="images/details-section-card-icon.svg" loading="lazy" width="24" height="24" alt="icon")
            .font-w-regular.font-s-16-a Что будет входить в ваши <br> стартовые вложения и как <br> быстро вы их окупите
        .bullet-pagination.bullet-pagination--left
      .details-section__bottom
        img.details-section__bottom-img(src="images/details-section-bottom-img.png" loading="lazy" width="184" height="184" alt="image")
        .details-section__bottom-block
          .font-s-18 Запишитесь на онлайн-встречу
          form(data-feedback-form)
            .details-section__form
              input(type="text" name="honeyfield" class="honeypot" style="display:none")
              input.input.input--grey-border(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
              input.input.input--grey-border(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
              button.btn(type="submit") Оставить заявку
            .details-section__agree-wrapper
              include ../components/agree.pug
      img.details-section__img(src="images/details-section-img.jpg" loading="lazy" width="437" height="333" alt="image")
