footer.footer
  .wrapper
    .footer__container
      .footer__block-left
        img.footer__logo(src="images/logo.svg" loading="lazy" width="118" height="47" alt="logo")
        .footer__brand.font-w-medium.font-s-18 © «Первый Лазерный», 2025
      .footer__block-right
        a.footer__privacy.font-w-regular.font-s-14(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
        button.btn.btn--call-me(data-remodal-target="modal-form-call-me") Заказать звонок
