section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__icon(src="images/steps-section-icon.svg" loading="lazy" width="420" height="42" alt="icon")
      img.steps-section__icon-bg(src="images/steps-section-icon-bg.svg" loading="lazy" width="1000" height="333" alt="icon")
      h2.steps-section__title.font-w-c-regular.font-s-62.text-up Этапы запуска вашей студии
      .steps-section__sub-title.font-w-regular.font-s-26 8 простых шагов до старта
      .swiper-bullet-secondary
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            .font-w-semi-bold.font-s-18-a.color-red 1 шаг
            .font-s-16 Заключение <br> партнерского <br> договора
          .steps-section__card.swiper-slide
            .font-w-semi-bold.font-s-18-a.color-red 2 шаг
            .font-s-16 Аренда <br> помещения <br> и ремонт
          .steps-section__card.swiper-slide
            .font-w-semi-bold.font-s-18-a.color-red 3 шаг
            .font-s-16 Создание и <br> согласование <br> дизайн-проекта
          .steps-section__card.swiper-slide
            .font-w-semi-bold.font-s-18-a.color-red 4 шаг
            .font-s-16 Доставка и монтаж <br> оборудования и <br> мебели
          .steps-section__card.swiper-slide
            .font-w-semi-bold.font-s-18-a.color-red 5 шаг
            .font-s-16 Реклама
          .steps-section__card.swiper-slide
            .font-w-semi-bold.font-s-18-a.color-red 6 шаг
            .font-s-16 Поиск <br> и обучение <br> персонала
          .steps-section__card.swiper-slide
            .font-w-semi-bold.font-s-18-a.color-red 7 шаг
            .font-s-16 Формирование <br> первичных запасов <br> расходников
          .steps-section__card.swiper-slide
            .font-w-semi-bold.font-s-18-a.color-red 8 шаг
            .font-s-16 Открытие студии, <br> старт работы
        .bullet-pagination
