.input
  height: 40px
  width 100%
  padding: 0 26px;
  font-family: 'INTERTIGHT-LIGHT'
  font-weight: 300
  font-size: 14px;
  line-height: 110%
  color: #686868
  border: 1px solid #fff
  border-radius: 30px;
  background: #fff
  position relative
  overflow hidden
  transition border-color 0.3s, box-shadow 0.3s, border 0.3s, background 0.3s

  &:hover
    border 1px solid #893B3E
  &:focus
    color: #31291C
    caret-color: #893B3E
    border 1px solid #893B3E
    box-shadow: 3px 3px 8px 0px #893B3E
    &::placeholder
      color: #686868
  &::placeholder
    color: #686868
  +above($breakpoints.sm)
    padding: 0 15px;
    font-size: 14px;
    height: 45px
  +above($breakpoints.md)
    padding: 0 20px;
    font-size: 16px;
    height: 50px
  +above($breakpoints.xxl)
    padding: 0 26px;
    font-size: 18px;
    height: 58px
  &.error
    border 1px solid $color-error
    color: $color-error
    caret-color: $color-error
    box-shadow: 0px 0px 22px 0px $color-error
    &::placeholder
      color: $color-error
    &::-ms-input-placeholder
      color: $color-error
    animation: shake 0.6s;
    @keyframes shake
      10%, 90%
        transform: translate3d(-1px, 0, 0)
      20%, 80%
        transform: translate3d(2px, 0, 0)
      30%, 50%, 70%
        transform: translate3d(-4px, 0, 0)
      40%, 60%
        transform: translate3d(4px, 0, 0)

  &--grey-border
    border: 1px solid #C3C3C3
